.bg-img { 
    background-image: url("../images/headerImage.jpeg") ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;

}

/* You can use custom class like */
.img-responsive {
      display: block; 
      max-width: 100%;
      height: auto;
   }