.ourActivitiesBg { 
    background-image: url("../images/waterdrop.jpg") ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;

}
